<div class="bg-base-100/60 shadow-md min-w-sm sticky top-0 z-40
backdrop-blur-sm border-b border-b-base-100">
  <div class="container mx-auto ">
    <nav class="navbar ">
      <div class="navbar-start">
        <label class="btn btn-ghost btn-circle" title="Menu" for="my-drawer-3" aria-label="open sidebar" >
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /> </svg>
        </label>
      </div>
      <div class="navbar-center">
        <a class="btn btn-ghost text-xl gap-0.5" routerLink="/">
          <span class="text-primary">hayama</span>
          <span class="animate-flash">:</span>
          <span class="text-secondary">one</span>
        </a>
      </div>
      <div class="navbar-end">

        <button class="btn btn-ghost btn-circle" title="Theme Controller">
          <app-theme-ctrl />
        </button>
      </div>
    </nav>
  </div>
</div>
