/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui" {
  themes: lemonade --default, dim --prefersdark;
};

@custom-variant dark (&:where([data-theme=dim], [data-theme=dim] *));

@theme {
  --animate-flash: flash 1s infinite;

  @keyframes flash {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
}
