<section title="home">
  <div
    class="hero min-h-screen bg-hero"
  >
    <div class="hero-overlay"></div>
    <div class="hero-content text-neutral-content text-center">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold">Hello there</h1>
        <p class="mb-5">
          Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
          quasi. In deleniti eaque aut repudiandae et a id nisi.
        </p>
        <button class="btn btn-primary">Get Started</button>
      </div>
    </div>
  </div>

  <section class="container mx-auto m-4 px-4">
    <h1 class="text-5xl font-bold my-4">Home Page</h1>
    <p>Welcome to the Home Page!</p>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 my-10">
      <div class="card w-full bg-base-100 shadow-xl border border-gray-300">
        <div class="card-body">
          <h2 class="card-title">Feature 1</h2>
          <p>Details about Feature 1.</p>
        </div>
      </div>

      <div class="card w-full bg-base-100 shadow-xl">
        <div class="card-body">
          <h2 class="card-title"></h2>
        </div>
      </div>
    </div>
  </section>

</section>
